In [80]:
import numpy as np
import pandas as pd

## READ DATAFRAME´s

In [81]:
#1 circuits
circuits=pd.read_csv("./DATA/circuits.csv")# aqui lei el csv df con pd.read
#circuits

In [82]:
#2 constructors
constructors=pd.read_csv("./DATA/constructors.csv") #aqui lei el csv con pd.read
#constructors

In [83]:
#3 constructor_results
constructor_results=pd.read_csv("./DATA/constructor_results.csv")#aqui lei el csv con pd.read
#constructor_results

In [84]:
#4 constructor standings
constructor_standings=pd.read_csv("./DATA/constructor_standings.csv")#aqui lei el csv con pd.read
#constructor_standings

In [85]:
    #5 driver standings
driver_standings=pd.read_csv("./DATA/driver_standings.csv")#aqui lei el csv con pd.read
#driver_standings

In [86]:
#6 races
races=pd.read_csv("./DATA/races.csv") #aqui lei el csv con pd.read
#races

In [87]:
#7 seasons
seasons=pd.read_csv("./DATA/seasons.csv")#aqui lei el csv con pd.read
#seasons

In [88]:
#8 drivers
drivers=pd.read_csv("./DATA/drivers.csv")#aqui lei el csv con pd.read
#drivers

Una vez leidos los csv, hice un estudio de los datos, principalmente para entenderlos. FQ

## LIMPIANDO CSV

In [89]:
#Constructors
constructors=pd.read_csv("./DATA/constructors.csv")
constructor_clean=constructors.drop(["constructorRef","url"],axis=1)

"""Limpieza de columnas que no eran relevantes para obtener los resultados.
y asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge"""


constructor_clean

     constructorId            name nationality
0                1         McLaren     British
1                2      BMW Sauber      German
2                3        Williams     British
3                4         Renault      French
4                5      Toro Rosso     Italian
..             ...             ...         ...
206            209  Manor Marussia     British
207            210    Haas F1 Team    American
208            211    Racing Point     British
209            213      AlphaTauri     Italian
210            214  Alpine F1 Team      French

[211 rows x 3 columns]

In [90]:
constructor_results=pd.read_csv("./DATA/constructor_results.csv")
constructor_results_clean=constructor_results.drop(["status","points"],axis=1)

"""Limpieza de columnas que no eran relevantes para obtener los resultados.
y asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge"""

#constructor_results_clean

'Limpieza de columnas que no eran relevantes para obtener los resultados.\ny asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge'

In [91]:
constructor_standings=pd.read_csv("./DATA/constructor_standings.csv")
constructor_standings=constructor_standings.drop("points",axis=1)

"""Limpieza de columnas que no eran relevantes para obtener los resultados.
y asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge"""

#constructor_standings

'Limpieza de columnas que no eran relevantes para obtener los resultados.\ny asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge'

In [92]:
races=pd.read_csv("./DATA/races.csv")
races=races.drop(["round","date","time","url","fp1_date","fp1_time","fp2_date","fp2_time","fp3_date","fp3_time","quali_date","quali_time","sprint_date","sprint_time"],axis=1)

"""Limpieza de columnas que no eran relevantes para obtener los resultados.
y asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge"""


#races

'Limpieza de columnas que no eran relevantes para obtener los resultados.\ny asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge'

## CONSTRUYENDO EFECTIVIDAD ESCUDERIAS

In [93]:
constructors=pd.read_csv("./DATA/constructors.csv")
constructor_clean=constructors.drop(["constructorRef","url"],axis=1)

constructor_standings=pd.read_csv("./DATA/constructor_standings.csv")
constructor_standings=constructor_standings.drop("points",axis=1)


"""Limpieza de columnas que no eran relevantes para obtener los resultados.
y asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge.
Tambien me di cuenta que podia hacerlo en 2 celdas"""

'Limpieza de columnas que no eran relevantes para obtener los resultados.\ny asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge.\nTambien me di cuenta que podia hacerlo en 2 celdas'

Limpieza de columnas que no eran relevantes para obtener los resultados.Tomando en cuenta la mayor cantidad de datos relevantes posibles
y asignar nombre de variables, para tener las nuevas versiones preparadas para pd.merge

In [94]:
constructor_standings_constructor_clean=pd.merge(constructor_standings,constructor_clean)


"""Aqui uni variables(DF) para crear DF principal"""

constructor_standings_constructor_clean

,constructorStandingsId,raceId,constructorId,position,positionText,wins,name,nationality
0,1,18,1,1,1,1,McLaren,British
1,7,19,1,1,1,1,McLaren,British
2,18,20,1,3,3,1,McLaren,British
3,29,21,1,3,3,1,McLaren,British
4,40,22,1,3,3,1,McLaren,British
...,...,...,...,...,...,...,...,...
12836,28227,1082,214,5,5,0,Alpine F1 Team,French
12837,28237,1083,214,5,5,0,Alpine F1 Team,French
12838,28247,1084,214,5,5,0,Alpine F1 Team,French
12839,28257,1085,214,4,4,0,Alpine F1 Team,French
12840,28267,1086,214,4,4,0,Alpine F1 Team,French

In [95]:
df_esc=constructor_standings_constructor_clean.groupby("name")["raceId"].count()


"""Aqui agrupo para obtener el primer DF con información relevante para resolver mi hipotesis principal"""

df_qty_carreras_por_escuderias=pd.DataFrame(df_esc)
df_qty_carreras_por_escuderias

                raceId
name
AGS                 84
ATS                116
Alfa Romeo         186
AlphaTauri          52
Alpine F1 Team      35
...                ...
Vanwall             20
Virgin              38
Williams           802
Wolf                64
Zakspeed            79

[159 rows x 1 columns]

In [96]:
races=pd.read_csv("./DATA/races.csv")

"""En este orden, necesitaba información de otro csv"""

races=races.drop(["round","date","time","url","fp1_date","fp1_time","fp2_date","fp2_time","fp3_date","fp3_time","quali_date","quali_time","sprint_date","sprint_time"],axis=1)

#Limpieza

#races

## CONSTRUYENDO EL DF_CONSTRUCTOR_FINAL

In [97]:
#CONSTRUYENDO EL DF_CONSTRUCTOR_FINAL
constructors=pd.read_csv("./DATA/constructors.csv")#Read CSV
constructor_clean=constructors.drop(["constructorRef","url"],axis=1)#Limpieza CSV

In [98]:
constructor_standings=pd.read_csv("./DATA/constructor_standings.csv")#Read CSV
constructor_standings=constructor_standings.drop("points",axis=1)#Limpieza CSV
#constructor_clean
#constructor_standings

In [99]:
constructor_final=pd.merge(constructor_standings,constructor_clean)#Uniendo DF limpios
constructor_final=pd.merge(constructor_final,races,on="raceId")#Creando DF con mas datos
#constructor_final

In [100]:
constructor_final.to_csv("./DATASET_FINALES/df_constructores_final.csv")#Guardamos CSV el DF constructor_final

## CONSTRUYENDO TOTAL CARRERAS ACUMULADAS

In [101]:
#CONSTRUYENDO TOTAL CARRERAS ACUMULADAS
#Aplico Value counts para totalizar datos en DF.
total_carreras_acumuladas=constructor_final["name_x"].value_counts()
df_total_carreras_acumuladas=pd.DataFrame(total_carreras_acumuladas)

In [102]:
df_total_carreras_acumuladas=df_total_carreras_acumuladas.rename(columns={"name_x":"Total Carreras"})
df_total_carreras_acumuladas=df_total_carreras_acumuladas.reset_index()#Esto se hace para que tableau reconozca el valor como String
#df_total_carreras_acumuladas

In [103]:
df_total_carreras_acumuladas=df_total_carreras_acumuladas.rename(columns={"index":"Nombre_Escuderìa"})#Cambio de nombre a la columna
df_total_carreras_acumuladas.to_csv("./DATASET_FINALES/df_total_carreras_acumuladas.csv")#Guardo CSV

#Convertido en csv y guardado en caperta DATASET_FINALES

#df_total_carreras_acumuladas

## CONSTRUYENDO NUMERO TOTAL DE CARRERAS Y ESCUDERIAS PARTICIPANTES

In [104]:
#CONSTRUYENDO NUMERO TOTAL DE CARRERAS Y ESCUDERIAS PARTICIPANTES
#desde DF
#constructor_final

In [105]:
#Aqui necesitaba total de carreras disputadas, y total escuderias"""
var1=num_total_carreras=int(constructor_final["raceId"].max())
var2=num_total_escuderias=int(len(constructor_final["name_x"].unique()))

In [106]:
#Crear DF con los resultados obtenidos
df_num_total_carreras_escuderias=(pd.DataFrame({"Total Escuderías Participantes":[var2],"Total Carreras Celebradas":[var1]}))


#df_num_total_carreras_escuderias

In [107]:
#Transponer, igualando a la variable para el DF final
df_num_total_carreras_escuderias=df_num_total_carreras_escuderias.T 
df_num_total_carreras_escuderias=df_num_total_carreras_escuderias.rename(columns={0:"Total"})#renombrando columnas
#df_num_total_carreras_escuderias

In [108]:

df_num_total_carreras_escuderias.to_csv("./DATASET_FINALES/df_num_total_carreras_escuderias.csv")
#Guardo CSV

#df_num_total_carreras_escuderias

## CONSTRUYENDO ESCUDERIAS CON PODIOS

In [109]:
#CONSTRUYENDO ESCUDERIAS CON PODIOS
df_escuderias_podios=constructor_final[(constructor_final.position > 0)&(constructor_final.position<4)]

"""En esta ventana necesitaba filtrar la información de las posiciones obtenidas, asi que aplique una mascara booleana"""


df_escuderias_podios=df_escuderias_podios.groupby("position")["name_x"].value_counts()
df_escuderias_podios=pd.DataFrame(df_escuderias_podios)
#df_escuderias_podios.to_csv("./DATASET_FINALES/df_escuderias_podios.csv")
#df_escuderias_podios

In [110]:
"""En esta etapa, quería contar el numero de veces que una escudería habia obtenido cada posicion (1,2,3)"""

#constructor_final
df_escuderias_podios_totales=constructor_final[(constructor_final.position > 0)&(constructor_final.position<4)]
var1=df_escuderias_podios_totales=int(len(df_escuderias_podios_totales["name_x"].unique()))
var2=num_total_escuderias=int(len(constructor_final["name_x"].unique()))
var3=round((var1/var2)*100)
var3="{}%".format(var3)

In [111]:
"""En esta etapa, calculo el RATIO de la cantidad de escuderias del total que han participado, logran subir al podio """

#var3
df_escuderias_podios_totales=(pd.DataFrame({"Total Escuderias Participantes":[var2],"Escuderias con podios":[var1],"Porcentaje de Escuderias con podios":[var3]}))
#Creo el DF pasandole un diccionario, con nombre de la columna:variable con información relevante
df_escuderias_podios_totales=df_escuderias_podios_totales.T #Transponse
df_escuderias_podios_totales=df_escuderias_podios_totales.rename(columns={0:"Total"})
df_escuderias_podios_totales
#df_escuderias_podios_totales.to_csv("./DATASET_FINALES/df_escuderias_podios_totales.csv")
df_escuderias_podios_totales

                                    Total
Total Escuderias Participantes        159
Escuderias con podios                  47
Porcentaje de Escuderias con podios   30%

In [112]:
df_escuderias_podios_year=constructor_final[(constructor_final.position > 0)&(constructor_final.position<4)]
df_escuderias_podios_year=df_escuderias_podios_year.groupby(["position","year"])["name_x"].value_counts()
df_escuderias_podios_year=pd.DataFrame(df_escuderias_podios_year)
df_escuderias_podios_year.to_csv("./DATASET_FINALES/df_escuderias_podios_year.csv")
df_escuderias_podios

"""Utilice el mismo codigo para extraer vista relevante para el EDA""";
df_escuderias_podios

                    name_x
position name_x
1        Ferrari       234
         McLaren       165
         Mercedes      145
         Williams      114
         Red Bull       77
...                    ...
3        Hesketh         1
         Honda           1
         Lotus-BRM       1
         Matra           1
         Shadow          1

[100 rows x 1 columns]

## CONSTRUYENDO EFECTIVIDAD PODIOS

In [113]:
#repito el mismo proceso de mascara booleana y group by para obnter información relevante
df_escuderias_podios_efectividad_totales=constructor_final[(constructor_final.position > 0)&(constructor_final.position<4)]
df_escuderias_podios_efectividad_totales=df_escuderias_podios_efectividad_totales.groupby(["name_x","year"])["position"].count()
df_escuderias_podios_efectividad_totales

name_x      year
Alfa Romeo  1981     1
Arrows      1981     3
BAR         2000     1
            2004    15
BMW Sauber  2007    17
                    ..
Williams    2008     1
            2014     8
            2015    18
            2016     1
Wolf        1977    14
Name: position, Length: 293, dtype: int64

In [114]:
#paso a DF y indico nombres correctos
df_escuderias_podios_efectividad_totales=pd.DataFrame(df_escuderias_podios_efectividad_totales).reset_index()
df_escuderias_podios_efectividad_totales=df_escuderias_podios_efectividad_totales=df_escuderias_podios_efectividad_totales.rename(columns={"positionText":"Efectividad_podio"}).reset_index()

In [115]:
#Corregir errores del DF, y reparando formatos para facilitar lecturas con tableau
total_carreras_acumuladas=constructor_final["name_x"].value_counts()
df_total_carreras_acumuladas=pd.DataFrame(total_carreras_acumuladas).reset_index()
df_total_carreras_acumuladas=df_total_carreras_acumuladas.rename(columns={"index":"name_xx"})
df_total_carreras_acumuladas=df_total_carreras_acumuladas.rename(columns={"name_x":"TotalGP"})
df_total_carreras_acumuladas=df_total_carreras_acumuladas.rename(columns={"name_xx":"name_x"})
#df_total_carreras_acumuladas

In [116]:
#Uniendo columnas 
df_escuderias_podios_efectividad_totales=pd.merge(df_escuderias_podios_efectividad_totales,df_total_carreras_acumuladas)
df_escuderias_podios_efectividad_totales=df_escuderias_podios_efectividad_totales.rename(columns={"position":"Total_podios"})

In [117]:
#Dividiendo columnas con pandas
columna_efectividad_total=(df_escuderias_podios_efectividad_totales["Total_podios"]/df_escuderias_podios_efectividad_totales["TotalGP"])*100

In [118]:
#En esta etapa hago un nuevo DF con las 3 columnas.
columna_efectividad_total=pd.DataFrame(columna_efectividad_total).reset_index()
columna_efectividad_total=columna_efectividad_total.rename(columns={0:"Total_Efectividad"})
#columna_efectividad_total
df_escuderias_podios_efectividad_totales=pd.merge(df_escuderias_podios_efectividad_totales,columna_efectividad_total,on="index")
df_escuderias_podios_efectividad_totales=df_escuderias_podios_efectividad_totales.drop(["index"],axis=1)

df_escuderias_podios_efectividad_totales.to_csv("./DATASET_FINALES/df_escuderias_podios_efectividad_totales.csv")

         name_x  year  Total_podios  TotalGP  Total_Efectividad
68      Ferrari  1967             1     1003           0.099701
73      Ferrari  1973             1     1003           0.099701
85      Ferrari  1987             1     1003           0.099701
171     McLaren  1994             1      874           0.114416
187     McLaren  2018             1      874           0.114416
..          ...   ...           ...      ...                ...
147  March-Ford  1971             3       11          27.272727
261     Vanwall  1958             9       20          45.000000
151  Matra-Ford  1969            11       23          47.826087
46       Cooper  1958            11       17          64.705882
45        Brawn  2009            17       17         100.000000

[293 rows x 5 columns]

In [123]:
#DF creado para obtener vista por año y ver en linechart distribución de podios.
constructor_final
df_anno_campionato_constructores=df_escuderias_podios_efectividad_totales.groupby("year")["name_x"].value_counts()
#df_anno_campionato_constructores.to_csv("./DATASET_FINALES/df_anno_campionato_constructores.csv")
df_anno_campionato_constructores

year  name_x
1958  Cooper          1
      Ferrari         1
      Maserati        1
      Vanwall         1
1959  BRM             1
                     ..
2021  Red Bull        1
2022  Ferrari         1
      Haas F1 Team    1
      Mercedes        1
      Red Bull        1
Name: name_x, Length: 293, dtype: int64

## Gracias!